/* cpfInput.css */

.CPF-field {
    margin-bottom: 20px;
}

.CPF-field input,
.password-field input {
    width: calc(100% - 22px); /* Desconta a largura do botão do ícone */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Adiciona estilo quando o input está em foco */
.CPF-field input:focus,
.password-field input:focus {
    outline: none;
    border-color: #007bff; /* Cor personalizada para o foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave ao redor do input */
}
