.sidebar {
    border-right: 2px solid var(--main-red);
    width: 15%;
    /* height: 100%; */
    position: fixed;
    height: calc(100em - 8em);
    top: 5.1em;
    left: 0;
    z-index: 100;
    background-color: var(--light-grey);
}