.btn {
    background-color: var(--light-grey);
}

.nav-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn img {
    width: 50px;
}

.btn:hover {
    background-color: var(--dark-grey);
}

.nav-btn h2 {
    margin-left: 15px;
}

.clicked {
    background-color: var(--main-red);
}

.clicked h2, .clicked img {
    filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(202deg) brightness(109%) contrast(101%);
}

.clicked:hover {
    background-color: var(--light-red);
}